.container {
  display: flex;
  justify-content: space-between;
  max-width: var(--size-max-width);
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logoLink {
  display: flex;
  font-weight: var(--medium);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-md);
}

@media (max-width: 767px) {
  .logoLink > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.logo {
  height: var(--size-logo);
  width: var(--size-logo);
  display: block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='541.000000pt' height='661.000000pt' viewBox='0 0 541.000000 661.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000 661.000000) scale(0.100000 -0.100000)'fill='%23000000' stroke='none'%3E%3Cpath d='M2516 6151 l7 -108 -69 -12 c-107 -18 -285 -67 -371 -101 -115 -46-334 -162 -443 -235 -213 -142 -376 -314 -549 -580 -223 -341 -390 -791 -462-1240 -21 -129 -18 -640 4 -790 102 -686 317 -1222 690 -1720 97 -129 336-360 453 -438 177 -118 392 -206 602 -248 59 -12 114 -25 122 -29 9 -5 21 -2928 -55 8 -29 26 -61 46 -81 31 -31 39 -34 93 -34 99 0 188 57 231 146 14 3021 33 101 49 354 69 583 165 826 348 44 33 143 124 220 201 353 354 583 773710 1289 82 336 99 520 92 987 -4 278 -8 359 -26 475 -124 792 -401 1285 -9561696 -131 97 -245 166 -377 228 -136 65 -235 97 -393 127 -71 14 -138 29 -14835 -144 79 -279 143 -350 168 l-88 31 7 -109z m123 -258 c14 -91 14 -293 1-401 -23 -179 -99 -371 -201 -507 -29 -38 -101 -119 -159 -180 -132 -136 -188-204 -235 -290 -51 -91 -82 -188 -96 -298 -15 -115 -23 -134 -38 -81 -16 56-14 210 4 279 8 33 40 112 72 175 55 113 59 118 208 265 161 159 194 201 255323 76 153 109 291 140 595 11 108 20 200 20 204 0 4 4 3 9 -2 5 -6 14 -42 20-82z m-539 -47 c0 -20 -40 -51 -169 -131 -176 -109 -275 -188 -422 -334 -182-181 -305 -350 -437 -601 -125 -236 -227 -508 -277 -740 -35 -164 -33 -159-51 -136 -42 58 8 324 111 591 73 189 214 458 352 669 145 222 468 501 750648 94 48 143 60 143 34z m350 -215 c0 -28 -66 -251 -107 -361 -72 -194 -108-250 -287 -444 -164 -177 -206 -237 -241 -341 -26 -77 -35 -190 -24 -300 15-164 55 -231 287 -475 152 -160 192 -209 192 -234 0 -9 -29 -35 -68 -60 -122-78 -176 -167 -175 -288 1 -68 31 -133 127 -276 48 -72 68 -112 76 -152 6 -3012 -176 14 -325 2 -269 2 -270 29 -329 20 -43 27 -74 27 -120 0 -62 3 -70 62-167 25 -41 30 -67 63 -361 19 -174 35 -321 35 -327 0 -42 -327 60 -481 150-156 91 -268 199 -435 420 -343 455 -543 950 -610 1509 -69 581 13 1050 2711546 150 291 336 495 625 689 114 76 318 175 465 224 137 46 155 49 155 22zm1085 -152 c178 -102 394 -280 520 -430 267 -318 425 -686 516 -1204 22 -12023 -158 23 -490 0 -331 -2 -371 -23 -490 -105 -594 -308 -1006 -675 -1370-248 -246 -434 -354 -711 -415 -117 -25 -175 -26 -175 -4 0 24 99 610 107 6313 10 19 37 35 60 34 51 53 100 62 168 4 28 19 70 34 95 24 41 26 57 30 177 3117 2 136 -17 179 -21 46 -21 50 -6 133 20 106 39 149 100 232 93 126 125 220125 373 0 122 -12 156 -81 225 -42 42 -61 70 -69 102 -14 55 -39 128 -84 248-53 139 -69 232 -64 370 6 147 16 176 173 501 138 286 169 366 183 468 17 117-11 264 -74 401 -19 41 -34 78 -34 83 0 14 22 4 105 -43z m-420 -148 c17 -4029 -92 32 -135 12 -163 -74 -270 -337 -419 -85 -48 -180 -106 -211 -129 -136-101 -200 -253 -185 -444 12 -159 69 -290 199 -463 43 -56 77 -105 74 -107 -5-6 -119 65 -178 111 -118 93 -233 266 -259 392 -7 31 -10 96 -8 145 4 80 8 9551 182 80 161 198 262 481 412 145 78 210 133 252 214 26 51 29 65 32 194 4156 10 160 57 47z m-262 -802 c-1 -41 -11 -117 -23 -169 -48 -214 -39 -245108 -409 34 -38 62 -72 62 -75 0 -28 -106 38 -207 128 -35 32 -57 61 -68 94-9 26 -21 55 -26 64 -18 35 7 142 55 237 25 50 53 118 63 151 22 81 39 72 36-21z m77 -1089 c100 -13 253 -46 295 -65 17 -7 49 -18 73 -25 55 -14 112 -48112 -66 0 -24 -83 -16 -294 29 l-201 42 -215 -1 c-195 0 -227 -3 -339 -27-149 -32 -204 -35 -199 -9 7 36 176 98 333 121 86 12 336 13 435 1z m74 -375c182 -47 386 -138 386 -171 0 -24 -40 -16 -216 42 -270 88 -312 98 -449 97-127 0 -189 -11 -395 -72 -138 -42 -189 -41 -142 2 44 40 237 103 387 127 10716 317 4 429 -25z m84 -321 c22 -15 31 -54 12 -54 -6 0 -25 7 -41 16 -51 26-59 10 -59 -125 0 -143 -10 -164 -73 -159 -30 2 -43 8 -45 21 -3 14 4 17 4117 l45 0 -5 124 c-6 123 -6 124 20 150 30 30 71 34 105 10z m-570 -10 c12 -822 -22 22 -31 0 -12 -9 -14 -49 -8 -45 6 -49 5 -55 -17 -3 -13 -6 -66 -6 -1180 -111 -13 -140 -61 -140 -34 0 -41 29 -10 37 24 6 28 25 37 168 3 61 8 11311 118 8 13 88 7 111 -9z m283 6 c22 -12 26 -50 5 -50 -7 0 -27 7 -42 15 -4624 -55 6 -61 -131 -3 -65 -10 -127 -15 -136 -6 -14 -21 -18 -59 -18 -43 0 -503 -47 18 3 13 12 17 39 15 l36 -2 7 114 c6 114 17 163 39 177 17 11 75 10 98-2z m372 -384 c22 -10 22 -35 0 -43 -25 -10 -846 16 -856 26 -30 30 8 32 42229 229 -2 424 -8 434 -12z m-200 -173 c203 -7 243 -16 202 -49 -17 -14 -39-15 -140 -10 -66 3 -246 9 -400 12 -154 3 -290 7 -302 10 -25 5 -31 29 -10 3718 8 435 8 650 0z m1467 -47 c0 -111 -114 -337 -268 -531 -270 -339 -557 -554-887 -664 -86 -28 -280 -59 -293 -46 -8 8 -2 88 8 98 4 5 74 23 156 42 341 76527 177 750 407 145 149 273 325 448 616 37 61 71 112 77 112 5 0 9 -15 9 -34zm-1515 -166 c214 -11 235 -14 235 -35 0 -19 44 -17 -423 -19 -335 -2 -400 0-404 11 -10 25 11 33 118 42 149 12 258 12 474 1z'/%3E%3C/g%3E%3C/svg%3E");
}
